body, html {
    align-items: center;
    overflow-x: auto;
}

#memo, #memo2{
  width: 400px;
  height: 150px; 
}

#memo1{
  width: 400px;
  height: 35px; 
}


@media (max-width: 576px){
   .form {
   max-width:100% ;
   min-width: 300px;
   }

  #memo,#memo2{
      width: 300px;
      height: 200px; 
  }

  #memo1{
    width: 300px;
    height: 35px; 
  }
  

}